.home-parallax-welcome {
  padding: 32px 16px;
  text-align: center;
}

.home-title {
  color: #262261 !important;
  font-size: 64px !important;
  font-weight: 100 !important;
  margin: 32px 16px 0px 16px !important;
  text-shadow: rgba(0, 0, 0, 0.65) 0px 4px 5px;
}

.home-subtitle {
  color: #ed1c24 !important;
  font-size: 48px !important;
  font-weight: 100 !important;
  margin-bottom: 64px !important;
  text-shadow: rgba(0, 0, 0, 0.65) 0px 4px 5px;
}

.home-carousel {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.home-carousel-dots {
  bottom: -8px !important;
}

.home-carousel-image {
  padding: 8px;
  padding-bottom: 16px;
}

.ant-image {
  height: 96px;
}

  .home-carousel-image img {
    height: 96px;
    width: auto;
  }

.home-welcome {
  padding: 8px;
  height: 100%;
  background-color: white;
  border-radius: 4px;
}