.home-parallax-welcome {
  margin-top: 80px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  min-height: calc(100vh - 80px);
}

.home-icon {
  width: 100%;
  margin-top: 32px;
}

.home-title {
  color: #262261 !important;
  font-size: 64px !important;
  font-weight: 100 !important;
  margin: 32px 16px 0px 16px !important;
  text-shadow: rgba(0, 0, 0, 0.65) 0px 4px 5px;
}

  .home-title.mobile {
    font-size: 36px !important;
    margin: 16px 8px 0px 8px !important;
  }

.home-subtitle {
  color: #ed1c24 !important;
  font-size: 48px !important;
  font-weight: 100 !important;
  margin-bottom: 156px !important;
  text-shadow: rgba(0, 0, 0, 0.65) 0px 4px 5px;
}

  .home-subtitle.mobile {
    font-size: 28px !important;
  }


@keyframes pointDown {
  from {
    transform: rotate(90deg) translateX(0px);
    opacity: 1;
  }
  to {
    transform: rotate(90deg) translateX(25px);
    opacity: 0;
  }
}

.home-scroll.hidden {
  opacity: 1;
  transition: all 0.25s;
}

.home-scroll.hidden {
  opacity: 0;
}

.home-scroll .rotate {
  transform: rotate(90deg);
  animation-name: pointDown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.home-section {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 128px;
  background-color: white;
}

  .home-section.primary {
    background-color: #0f1d3b;
  }

  .home-section.danger {
    background-color: #c22b2b;
  }

.home-section-title-container {
  transform: translateY(calc(-50% - 8px));
  display: flex;
  justify-content: space-around;
  background-color: white;
  max-width: 750px;
  margin: auto;
  border: 1px solid #c22b2b;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

  .home-section-title-container.primary {
    background-color: #0f1d3b;
    border: 1px solid white;
  }

.home-section-title {
  padding: 24px 8px;
  text-align: center;
  width: 100%;
}

  .home-section-title.primary {
    color: white;
  }

.home-section-icon-container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c22b2b;
}

.home-section-icon {
  color: white !important;
  font-size: 56px;
  width: 114px;
}

.home-carousel {
  margin: 64px 0px 0px 0px;
  background-color: #0f1d3b;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid #0f1d3b;
}

  .home-carousel.mobile {
    margin: 0px;
  }

.home-carousel-dots {
  bottom: -8px !important;
}

.home-carousel-image {
  display: inline-flex !important;
  justify-content: center;
  padding: 16px;
  padding-bottom: 24px;
}

  .home-carousel-image .ant-image {
    height: 216px;
  }

    .home-carousel.mobile .home-carousel-image .ant-image {
      height: 128px;
    }

  .home-carousel-image img {
    height: inherit;
    width: auto;
  }

.home-service-list-item {
  transform: scale(1);
  background-color: white;
  display: flex !important;
  align-items: center !important;
  max-width: 900px;
  margin: 16px auto;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.5s;
}

  .home-service-list-item:hover,
  .home-service-list-item:focus {
    transform: scale(1.025);
  }

.home-service-extra {
  width: 128px;
  height: 128px;
  background-color: #c22b2b;
  color: white;
  text-align: center;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin: 0px;
}

.home-service-title {
  color: #0f1d3b !important;
}