.page-parallax-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.page-title {
  color: white !important;
  font-size: 64px !important;
  margin: 0px !important;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 5px;
  text-align: center;
}

  .page-title.lg {
    font-size: 56px !important;
  }

  .page-title.md {
    font-size: 48px !important;
  }
  
  .page-title.sm {
    font-size: 36px !important;
  }
  
.page-content {
  margin-top: -64px;
  margin-bottom: -64px;
  z-index: 0;
}

.page-content-outlet {
  padding: 16px;
  background-color: white;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
}