.ant-layout {
  background-color: white !important;
}

.layout-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 80px !important;
  line-height: 80px !important;
  background-color: white !important;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.logo {
  align-self: center;
  height: 96px;
}

.layout-menu {
  justify-content: flex-end;
}

.rc-footer-container {
  padding-top: 128px !important;
}

.rc-footer-bottom a {
  display: block;
  transform: scale(1);
  color: rgba(255, 255, 255, 0.45) !important;
  transition: all 0.25s !important;
}

  .rc-footer-bottom a:hover,
  .rc-footer-bottom a:focus {
    transform: scale(1.15);
    color: white !important;
  }