.layout-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 80px !important;
  line-height: 80px !important;
  background-color: white !important;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.logo {
  align-self: center;
  height: 96px;
}

.layout-menu {
  justify-content: flex-end;
}

.layout-footer {
  text-align: center;
}